/* Table of Contents
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/* 1. Imports */

/* 1.1 Normalize */
@import url("normalize.css");

/* 1.2 Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* 2. General */

/* font and size for body */
body {
    font-size: 20px;
    font-family: helvetica, sans-serif;
}

/* font for headings */
h1,h2,h3,h4,h5,h6 {
    font-family: Sansita, sans-serif;
}

/* background color for header and footer */
header, footer, nav {
    background-color: #0e89d5;
    display: flex;
    align-items: center;
}

/*border box for entire html doc */
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

/* rotates wind pointer */
.n {
    transform: rotate(0deg);
}

.ne {
    transform: rotate(45deg);
}

.e {
    transform: rotate(90deg);
}

.se {
    transform: rotate(135deg);
}

.s {
    transform: rotate(180deg);
}

.sw {
    transform: rotate(225deg);
}

.w {
    transform: rotate(270deg);
}

.nw {
    transform: rotate(315deg);
}

.windows, #forecast {
    text-align: center;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px; 
}

#wind {
    position: relative;
    text-align: center;
  }

#wind-speed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
  }
#dailyHigh {
    color: red;
}

#dailyLow {
    color: blue;
}

#current-temp {
    font-size: 100px;
}

#logo {
    height: 50px;
}

#rain {
    height: 200px;
}

footer{
    margin-bottom: 2em;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}

.hide{
    display: none;
  }

#forecast ul {
    overflow: auto;
    white-space: nowrap;
}

#forecast li {
    display: inline-block;
    padding: 0px;
    text-decoration: none;
}

/* 3. Mobile Rules */
#curWeather {
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
   }
   
   /* Background pictures for summary */
   .clear {
    background-image: url("/optimized-images/images/clear_400.jpg");
   }

   .clouds {
    background-image: url("/optimized-images/images/clouds_400.jpg");
   }

   .fog {
    background-image: url("/optimized-images/images/fog_400.jpg");
   }

   .rain {
    background-image: url("/optimized-images/images/rain_400.jpg");
   }

   .snow {
    background-image: url("/optimized-images/images/snow_400.jpg");
   }

av ul li { 
    display: inline-block; 
    list-style: none; 
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

 nav {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }

 /* 4. Large Screen Rules */
 

 @media screen and (min-width: 880px) {
    #curWeather {
        display: flex;
    }
    
    .temp-wind-weather {
        flex-wrap: wrap;
        flex-direction: row;
        flex: 1 1 auto;
    }
    body {
        width: 90%;
        margin: 0 auto;
    }
    .clear {
        background-image: url("/optimized-images/images/clear_1200.jpg");
       }
    .clouds {
        background-image: url("/optimized-images/images/clouds_1200.jpg");
       }
    .fog {
        background-image: url("/optimized-images/images/fog_1200.jpg");
       }
    .rain {
        background-image: url("/optimized-images/images/rain_1200.jpg");
       }
    .snow {
        background-image: url("/optimized-images/images/snow_800.jpg");
       }
 }