/* Table of Contents
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

@import url("normalize.css");

/* 2. General */
body {
    font-size: 20px;
    font-family: helvetica, sans-serif;
}

h2,h3,h4,h5,h6 {
    font-family: Sansita, sans-serif;
}
header {
    background-color: #0e89d5;
    display: flex;
    align-items: center;
}

html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

#wind-direction {
   transform: rotate(235deg);
}

.windows{
    text-align: center;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#wind-direction {
    position: relative;
    text-align: center;
  }

#wind-speed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* 3. Mobile Rules */
#logo {
    height: 50px;
}

#rain {
    height: 50px;
}

nav ul li { 
    display: inline-block; 
    list-style: none; 
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer{
    margin-bottom: 2em;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}

