/* Table of Contents
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/* 1. Imports */

/* 1.1 Normalize */
@import url("normalize.css");

/* 1.2 Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* 2. General */

/* font and size for body */
body {
    font-size: 20px;
    font-family: helvetica, sans-serif;
}

/* font for headings */
h1,h2,h3,h4,h5,h6 {
    font-family: Sansita, sans-serif;
}

/* background color for header and footer */
header, footer, nav {
    background-color: #0e89d5;
    display: flex;
    align-items: center;
}

/*border box for entire html doc */
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

#wind-direction {
   transform: rotate(235deg);
}

.windows{
    text-align: center;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px; 
}

#wind {
    position: relative;
    text-align: center;
  }

#wind-speed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#daily-high {
    color: red;
}

#daily-low {
    color: blue;
}

#current-temp {
    font-size: 100px;
}

#logo {
    height: 50px;
}

#rain {
    height: 200px;
}

footer{
    margin-bottom: 2em;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}

/* 3. Mobile Rules */
nav ul li { 
    display: inline-block; 
    list-style: none; 
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#hour-temp {
     white-space: wrap;
     overflow: auto;
 }