/* Table of Contents
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/* 1. Imports */
/* 2. General Rules */
main {
    display: flex;
    flex-flow: row wrap;
}

.box {
    text-align: center;
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}
/* 3. Mobile Rules */
.large {
    display: none;
}
/* 4. Large Screen Rules */
@media screen and (min-width: 1300px) {

    .small {
        display:none;
    }

    .large {
        display: block;
    }

}